@layer components {
  .cmp-main-heading--pages {
    margin-top: clamp(4rem, 10vw, 9rem);
    text-align: center;
  }
}

@layer base {
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 2 - ABOUT / SECTION-ONE / HERO ***       \\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .cmp-hero-section__image--pg2-s1 {
    background: url("/assets/images/bueni-6.avif");
    background-size: cover;
    background-position: 50%;
    background-blend-mode: overlay;
    background-color: rgba(10, 24, 65, 0.35);
    top: clamp(10.5rem, 9.5vw + 7rem, 14.75rem);
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 2 - ABOUT / SECTION-TWO / HISTORY ***       \\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    .about-text-container {
      p {
        margin-top: 1rem;
      }

      @media (width > 47.5rem) {
        max-width: 40%;

        p {
          margin-top: 1.5rem;
        }
      }
    }

    .about-image-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--margin-pictures);
      align-items: end;

      img:nth-child(1) {
        justify-self: end;
        aspect-ratio: 1.1 / 1;
      }

      img:nth-child(2) {
        aspect-ratio: 1 / 1.1;
      }

      img:nth-child(3) {
        position: relative;
        max-width: 60%;
        grid-column: span 2;
        justify-self: center;
        left: 6%;
      }

      @media (width > 47.5rem) {
        img:nth-child(1) {
          aspect-ratio: 1 / 1.2;
          max-width: 75%;
        }

        img:nth-child(2) {
          max-height: 72%;
        }

        img:nth-child(3) {
          align-self: start;
          max-height: 90%;
        }
      }
    }

    @media (width > 47.5rem) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 3 - MENU / SECTION-ONE / HERO ***       \\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .cmp-hero-section__image--pg3-s1 {
    background: url("/assets/images/bueni-18.jpg");
    background-size: cover;
    background-position: 50%;
    background-blend-mode: overlay;
    background-color: rgba(10, 24, 65, 0.35);
    top: clamp(10.85rem, 12vw + 7rem, 14.75rem);
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 3 - MENU / SECTION-TWO / MENU ***       \\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .menu-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    @media (width > 62.5rem) {
      gap: 5rem;
    }
  }

  .menu-headings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;

    .menu-headings__inner {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      button {
        position: relative;
        color: var(--clr-micro-heading-dark);
        opacity: 0.8;
        transition: color 0.3s ease-out;

        &:hover:not(.menu-is-active) {
          color: var(--clr-hover-accent);
        }
      }

      button::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px;
        width: 0;
        height: 2px;
        background: linear-gradient(
          to right,
          transparent,
          var(--blue-100) 30%,
          var(--blue-300) 70%,
          transparent
        );
        opacity: 0.85;
        transform: translateX(-50%);
        transition: width 0.8s ease, transform 0.8s ease;
      }

      button.menu-is-active::after {
        width: 110%;
        transform: translateX(-50%);
      }

      @media (width > 31.25rem) {
        display: contents;
      }
    }

    @media (width > 62.5rem) {
      flex-direction: row;
      gap: 7rem;
    }
  }

  .menu-items-container {
    position: relative;
    touch-action: pan-y;
  }

  .menu-items__inner {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    opacity: 0;
    transform: translateX(5rem);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

    &.menu-is-active {
      display: grid;
      opacity: 1;
      transform: translateX(0);
      transition-delay: 0.5s;
    }

    &.menu-is-leaving {
      opacity: 0;
      transform: translateX(-5rem);
    }

    @media (width > 62.5rem) {
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
    }
  }

  .menu-items__selection {
    display: flex;
    gap: 1rem;

    img {
      width: 100%;
      max-width: 30%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;

      @media (width > 62.5rem) {
        gap: 0.5rem;
        max-width: 35%;
        aspect-ratio: 1 / 1;
        gap: 1.2rem;
      }
    }

    p {
      opacity: 0.9;
    }

    .menu-items__selection__text-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .menu-items__selection__text-container__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3 {
          font-size: var(--fs-larger-text);
          font-weight: 500;
        }

        span {
          position: relative;
          font-size: var(--fs-larger-text);
          font-weight: 300;
          bottom: 0.35rem;
        }
      }
    }
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 4 - GALLERY / SECTION-ONE / HERO ***       \\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .cmp-hero-section__image--pg4-s1 {
    background: url("/assets/images/bueni-17.webp");
    background-size: cover;
    background-position: 50%;
    background-blend-mode: overlay;
    background-color: rgba(10, 24, 65, 0.35);
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 4 - GALLERY / SECTION-TWO / GALLERY ***       \\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .gallery-page-heading-container {
    text-align: center;

    h2 {
      margin-inline: auto;
      margin-bottom: 1.25rem;

      @media (width > 47.5rem) {
        margin-bottom: 2rem;
      }
    }

    p {
      margin-bottom: 3rem;
      opacity: 0.85;

      @media (width > 47.5rem) {
        margin-bottom: 4.5rem;
      }
    }
  }

  .gallery-page-container {
    margin-inline: auto;

    a {
      display: inline-block;
      width: 48%;
      margin-bottom: var(--margin-pictures);
    }

    img {
      object-fit: cover;
      object-position: center 50%;
      cursor: pointer;
    }

    a:nth-child(1) {
      aspect-ratio: 2 / 1;
    }

    @media (width > 47.5rem) {
      a {
        width: 31.5%;
      }
    }

    @media (width > 62.5rem) {
      a {
        width: 32.3%;
      }
    }
  }

  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\      *** PAGE 5 - CONTACT / SECTION-ONE / HERO ***       \\\\\\\\\\\\\\\\\\\\\\\\\ */
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

  .cmp-light-section--pg5-s1 {
    padding-top: clamp(6.75rem, 10vw, 8.35rem);
    text-align: center;

    @media (width > 31.25rem) {
      text-align: unset;
    }
  }

  .contact-flex-container--pg5-s1 {
    margin-right: unset;

    @media (width > 47.5rem) {
      flex-direction: column;
      justify-content: unset;
      gap: 14.5rem;
    }
  }

  .contact-image--pg5-s1 {
    margin-top: clamp(2rem, 4vw + 0.5rem, 4rem);

    @media (width > 47.5rem) {
      aspect-ratio: 1.35 / 1;
      max-width: 93%;
      max-height: clamp(22rem, 27vw + 8rem, 28rem);
    }

    @media (width < 26.25rem) {
      margin-top: 1.25rem;
    }
  }

  .contact-flex__text-container--pg5-s1 {
    margin-top: -1.75rem;

    @media (width > 31.25rem) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 1rem;
    }

    @media (width > 47.5rem) {
      margin-top: clamp(4rem, 10vw + 1rem, 10rem);
    }

    @media (width > 62.5rem) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      text-align: left;
    }

    @media (width < 26.25rem) {
      margin-top: 0;
    }
  }

  .contact-text-container__inner-flex--pg5-s1 {
    &:first-of-type {
      @media (width > 62.5rem) {
        justify-self: center;
      }
    }

    &:last-of-type {
      @media (width > 62.5rem) {
        grid-column: 2;
        grid-row: 1;
        justify-self: start;
        margin-right: clamp(15rem, 24vw, 20rem);
      
      }
      @media (width > 81.25rem) {
        margin-right: clamp(22rem, 32vw, 30rem);
      }
    }
  }

  .contact-page-google-maps {
    position: relative;
    display: block;
    max-width: 75%;
    aspect-ratio: 1.75 / 1;
    margin-top: 2rem;
    margin-inline: auto;
    grid-column: 1/ 3;

    @media (width > 47.5rem) {
      max-width: 60%;
    }

    @media (width > 62.5rem) {
      grid-column: 3;
      align-self: center;
      aspect-ratio: 2 / 1;
      max-width: 60%;
      margin-left: 35%;
      margin-top: 0;
      grid-column: 2 / 4;
      grid-row: 1;
    }
  }
}

@layer animations {
}
