<header class="header" data-swup-replace="header">
  <a href="#introduction" class="skip-to-content">Skip to main content</a>

  <div class="header__container">
    <div class="wrapper wrapper--wide">

        <nav id="navigation" class="nav-bar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">History</a></li>
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </nav>

      <div class="hamburger-btn-box">
        <button class="hamburger-btn" id="hamburger" aria-label="Toggle The Navigation Menu" aria-controls="navigation" aria-expanded="false">
          <div class="hamburger">
            <div class="hamburger-lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </button>

      </div>
    </div>
  </div>
</header>