<header class="header" data-swup-replace="header">
  <a href="#introduction" class="skip-to-content">Skip to main content</a>

  <div class="header__container">
    <div class="wrapper wrapper--wide">

      <div id="swup-header-container">
        <nav id="navigation" class="nav-bar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/menu/">Menu</a></li>
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="hamburger-btn-box">
        <button class="hamburger-btn" id="hamburger" aria-label="Toggle The Navigation Menu" aria-controls="navigation" aria-expanded="false">
          <div class="hamburger">
            <input type="checkbox" id="hamburger-input" />
            <label for="hamburger-input">
              <div class="hamburger-lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </label>
          </div>
        </button>

      </div>
    </div>
  </div>
</header>