---
title: 'Contact'
---

{% extends "base.njk" %}

{% block content %}
<!-------------------------------------------------------------------------------------------------------------->
<!----------------------------------------- PAGE 5 / SECTION-ONE / CONTACT ------------------------------------->
<!-------------------------------------------------------------------------------------------------------------->

<section class="cmp-hero-section cmp-hero__section--pg5-s1" aria-labelledby="contact-page-5-heading">
  <div class="wrapper cmp-hero-section-wrapper">

    <div>
      <h2 id="contact-page-5-heading" class="cmp-hero-heading transition-fade">Contact</h2>
    </div>

  </div>
</section>

<section class="cmp-light-section" aria-labelledby="opening-hours">
  <div class="wrapper wrapper--mobile-m wrapper--tablet-xl">

    <div class="contact-flex__text-container transition-reverse-slide">
      <div class="contact-text-container__inner-flex" data-animate="scale-size">
        <h3 id="opening-hours" class="cmp-micro-heading">Opening hours</h3>
        <span class="cmp-main-text">Monday: 6AM - 11PM</span>
        <span class="cmp-main-text">Tuesday: 6AM - 11PM</span>
        <span class="cmp-main-text">Wednesday: CLOSED</span>
        <span class="cmp-main-text">Thursday: 6AM - 11PM</span>
        <span class="cmp-main-text">Friday: 6AM - 11PM</span>
        <span class="cmp-main-text">Saturday: 6AM - 11PM</span>
        <span class="cmp-main-text">Sunday: 6AM - 11PM</span>
      </div>

      <div class="contact-text-container__inner-flex contact-text-container__inner-flex--pg5-s1" data-animate="scale-size">
        <h3 class="cmp-micro-heading">Contact us</h3>
        <a class="cmp-main-text" href="tel:+351282113593">
            +351 282 113 593
          </a>
        <a class="cmp-main-text" href="mailto:buenilagos@gmail.com?subject=Restaurant%20Enquiry">
            buenilagos@gmail.com
          </a>
      </div>

      <iframe class="contact-page-google-maps" data-animate="fade-in" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.1485282086314!2d-8.676565024531211!3d37.101581772162696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b31f64000d97d%3A0x6f72ec57ad5bdc2a!2sBUeNI%20Restaurante!5e0!3m2!1sen!2spt!4v1766261909108!5m2!1sen!2spt" allowfullscreen="true" loading="eager"></iframe>
    </div>

  </div>
</section>
{% endblock %}