---
title: 'Gallery'
---

{% extends "base.njk" %}

{% block content %}
<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 4 / SECTION-ONE / HERO ---------------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-light-section cmp-hero-section" aria-labelledby="gallery-hero-heading">
  <div class="wrapper">
    <div class="cmp-hero-section__image cmp-hero-section__image--pg4-s1 transition-hero-shutter"></div>

    <div class="cmp-page-hero-flex">
      <div>
        <h1 id="gallery-hero-heading" class="cmp-hero-heading transition-fade">Moments shared<span class="cmp-hero-heading-span">around the table</span></h1>
      </div>
    </div>

  </div>
</section>

<!-------------------------------------------------------------------------------------------------------------->
<!--------------------------------------- PAGE 4 / SECTION-TWO / GALLERY --------------------------------------->
<!-------------------------------------------------------------------------------------------------------------->

<section class="cmp-light-section cmp-dark-mode-section transition-reverse-slide" aria-labelledby="gallery-page-heading">
  <div class="wrapper wrapper--mobile-m">

    <div class="gallery-page-heading-container" data-animate="scale-size">
      <h2 id="gallery-page-heading" class="cmp-main-heading">Captured Moments</h2>
      <p class="cmp-main-text">A closer look at the craft behind the cuisine. Step inside our world and explore the moments that shape who we are.</p>
    </div>

    <div class="gallery-page-container">
      <a class="glightbox" href="/assets/images/bueni-19.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-19.jpg" alt=""> 
      </a>

      <a class="glightbox" href="/assets/images/bueni-3.jpg" data-animate="slide-down">
        <img src="/assets/images/bueni-3.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-14.jpg" data-animate="slide-right">
        <img src="/assets/images/bueni-14.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-13.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-13.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-4.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-4.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-16.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-16.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-12.jpg" data-animate="slide-right">
        <img src="/assets/images/bueni-12.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-1.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-1.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-9.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-9.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-17.webp" data-animate="slide-right">
        <img src="/assets/images/bueni-17.webp" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-18.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-18.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-15.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-15.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-2.jpg" data-animate="slide-right">
        <img src="/assets/images/bueni-2.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-11.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-11.jpg" alt="">
      </a>
    </div>
  </div>
</section>

{% endblock %}