---
title: 'Gallery'
---

{% extends "base.njk" %}

{% block content %}
<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 4 / SECTION-ONE / HERO ---------------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-light-section cmp-hero-section" aria-labelledby="gallery-hero-heading">
  <div class="wrapper">
    <div class="cmp-hero-section__image cmp-hero-section__image--pg4-s1 transition-hero-shutter"></div>

    <div class="cmp-page-hero-flex">
      <div>
        <h1 id="gallery-hero-heading" class="cmp-hero-heading transition-fade">Moments shared<span class="cmp-hero-heading-span">around the table</span></h1>
      </div>
    </div>

  </div>
</section>

<!-------------------------------------------------------------------------------------------------------------->
<!--------------------------------------- PAGE 4 / SECTION-TWO / GALLERY --------------------------------------->
<!-------------------------------------------------------------------------------------------------------------->

<section class="cmp-light-section cmp-dark-mode-section transition-reverse-slide" aria-labelledby="gallery-page-heading">
  <div class="wrapper wrapper--mobile-m">

    <div class="gallery-page-heading-container" data-animate="scale-size">
      <h2 id="gallery-page-heading" class="cmp-main-heading">Captured Moments</h2>
      <p class="cmp-main-text">A closer look at the craft behind the cuisine. Step inside our world and explore the moments that shape who we are.</p>
    </div>

    <div class="gallery-page-container">
      <a class="glightbox" href="/assets/images/bueni-19.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-19.jpg" alt=""> 
      </a>

      <a class="glightbox" href="/assets/images/bueni-3.jpg" data-animate="slide-down">
        <img src="/assets/images/bueni-3.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-14.jpg" data-animate="slide-right">
        <img src="/assets/images/bueni-14.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-13.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-13.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-4.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-4.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-16.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-16.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-12.jpg" data-animate="slide-right">
        <img src="/assets/images/bueni-12.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-1.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-1.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-9.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-9.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-17.webp" data-animate="slide-right">
        <img src="/assets/images/bueni-17.webp" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-18.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-18.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-15.jpg" data-animate="slide-up">
        <img src="/assets/images/bueni-15.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-2.jpg" data-animate="slide-right">
        <img src="/assets/images/bueni-2.jpg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/bueni-11.jpg" data-animate="slide-left">
        <img src="/assets/images/bueni-11.jpg" alt="">
      </a>
    </div>
  </div>
</section>

<!------------------------------------------------------------------------------------------------------------>
<!----------------------------------------- PAGE 4 / SECTION-THREE / CONTACT --------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-light-section contact-section cmp- transition-reverse-slide" aria-labelledby="contact-page-4-heading">
  <div class="contact-image" data-animate="shutter-horizontal"></div>
  <div class="wrapper wrapper--mobile-m">

    <div class="contact-flex-container">
      <h2 id="contact-page-4-heading" class="cmp-main-heading" data-animate="slide-left">We're here to<span class="cmp-hero-heading-span">welcome you</span></h2>

      <div class="contact-flex__text-container" data-animate="scale-size">
        <div class="contact-text-container__inner-flex">
          <h3 class="cmp-micro-heading">Opening hours</h3>
          <span class="cmp-main-text">Monday: 6AM - 11PM</span>
          <span class="cmp-main-text">Tuesday: 6AM - 11PM</span>
          <span class="cmp-main-text">Wednesday: CLOSED</span>
          <span class="cmp-main-text">Thursday: 6AM - 11PM</span>
          <span class="cmp-main-text">Friday: 6AM - 11PM</span>
          <span class="cmp-main-text">Saturday: 6AM - 11PM</span>
          <span class="cmp-main-text">Sunday: 6AM - 11PM</span>
        </div>

        <div class="contact-text-container__inner-flex">
          <h3 class="cmp-micro-heading">Find us</h3>
          <a class="cmp-main-text" href="https://maps.app.goo.gl/dBj8uBxUn3Pg4NLE6" target="_blank" rel="noopener">
            Rua da Laranjeira 1,<br> 8600-697 Lagos
          </a>
          <a class="cmp-main-text" href="tel:+351282113593">
            +351 282 113 593
          </a>
          <a class="cmp-main-text" href="mailto:buenilagos@gmail.com?subject=Restaurant%20Enquiry">
            buenilagos@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}