---
title: 'Gallery'
---

{% extends "base.njk" %}

{% block content %}
<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 4 / SECTION-ONE / HERO ---------------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-hero-section cmp-hero__section--pg4-s1 transition-fade" aria-labelledby="gallery-hero-heading">
  <div class="wrapper cmp-hero-section-wrapper">

    <div class="cmp-page-hero-flex">
      <div>
        <h1 id="gallery-hero-heading" class="cmp-hero-heading transition-fade">Gallery</h1>
      </div>
    </div>

  </div>
</section>

<!-------------------------------------------------------------------------------------------------------------->
<!--------------------------------------- PAGE 4 / SECTION-TWO / GALLERY --------------------------------------->
<!-------------------------------------------------------------------------------------------------------------->

<section class="cmp-light-section cmp-dark-mode-section transition-reverse-slide" aria-labelledby="gallery-page-heading">
  <div class="wrapper wrapper--narrow-l wrapper--mobile-m wrapper--tablet-l"> 

    <div class="gallery-page-heading-container" data-animate="scale-size">
      <h2 id="gallery-page-heading" class="cmp-main-heading">Captured Moments</h2>
      <p class="cmp-main-text">A closer look at the craft behind the cuisine. Step inside our world and explore the moments that shape who we are.</p>
    </div>

    <div class="gallery-page-container">
      <a class="glightbox" href="/assets/images/gallery/1.jpeg" data-animate="slide-left">
        <img src="/assets/images/gallery/1.jpeg" alt=""> 
      </a>

      <a class="glightbox" href="/assets/images/gallery/2.jpeg" data-animate="slide-down">
        <img src="/assets/images/gallery/2.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/3.jpeg" data-animate="slide-right">
        <img src="/assets/images/gallery/3.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/4.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/4.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/6.jpeg" data-animate="slide-right">
        <img src="/assets/images/gallery/6.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/7.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/7.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/8.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/8.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/9.jpeg" data-animate="slide-right">
        <img src="/assets/images/gallery/9.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/11.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/11.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/12.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/12.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/13.jpeg" data-animate="slide-right">
        <img src="/assets/images/gallery/13.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/14.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/14.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/20.jpeg" data-animate="slide-left">
        <img src="/assets/images/gallery/20.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/16.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/16.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/17.jpeg" data-animate="slide-left">
        <img src="/assets/images/gallery/17.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/18.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/18.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/19.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/19.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/21.jpeg" data-animate="slide-right">
        <img src="/assets/images/gallery/21.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/22.jpeg" data-animate="slide-left">
        <img src="/assets/images/gallery/22.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/23.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/23.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/24.jpeg" data-animate="slide-left">
        <img src="/assets/images/gallery/24.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/25.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/25.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/5.jpeg" data-animate="slide-up">
        <img src="/assets/images/gallery/5.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/27.jpeg" data-animate="slide-right">
        <img src="/assets/images/gallery/27.jpeg" alt="">
      </a>

      <a class="glightbox" href="/assets/images/gallery/28.jpeg" data-animate="slide-left">
        <img src="/assets/images/gallery/28.jpeg" alt="">
      </a>
    </div>
  </div>
</section>

{% endblock %}