---
title: 'About'
---

{% extends "base.njk" %}

{% block content %}
<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 2 / SECTION-ONE / HERO ---------------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-hero-section cmp-hero__section--pg2-s1 transition-fade" aria-labelledby="about-hero-heading">
  <div class="wrapper cmp-hero-section-wrapper">

    <div>
      <h1 id="about-hero-heading" class="cmp-hero-heading transition-fade">History</h1>
    </div>

  </div>
</section>

<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 2 / SECTION-TWO / HISTORY ------------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-light-section cmp-dark-mode-section transition-reverse-slide" aria-labelledby="history-heading">
  <div class="wrapper wrapper--narrow-m wrapper--mobile-s wrapper--tablet-l">

    <div class="about-container">
      <div class="about-text-container" data-animate="scale-size">
        <h2 id="history-heading" class="cmp-main-heading">From Humble Beginnings</h2>
        <p class="cmp-main-text cmp-main-text-margins">Originally from Moldova, Sergiu Bucsa realized early on that he wasn't going to stay in his native country forever. "Moldova is my root, but from an early age I felt I needed to seek different horizons," he recalls.</p>
        <p class="cmp-main-text cmp-main-text-margins">His first stop was Timișoara, Romania, where he enrolled in an art course. His passion for creation and aesthetics marked this period, but Sergiu soon realized that academic life would have to be balanced with work to guarantee an income. That's how he started working in markets and small businesses related to gastronomy. "It was my first real contact with the restaurant business. At the time, it was just a way to survive."</p>
        <p class="cmp-main-text cmp-main-text-margins">Later, fate led Sergiu Bucsa to Italy, choosing Venice as the starting point for a new chapter. With its unique and demanding atmosphere, Venice was both a stage for opportunities and tough trials. “At the time, I applied to the IUAV – University Institute of Architecture of Venice, one of the most prestigious in the world.</p>
      </div>

      <div class="about-image-container" data-animate-group data-animate-start="top 50%">
        <img src="/assets/images/321.jpeg" alt="" data-animate="slide-left">
        <img src="/assets/images/7.jpeg" alt="" data-animate="slide-right">
        <img src="/assets/images/9.jpeg" alt="" data-animate="slide-up">
      </div>
    </div>

  </div>
</section>

<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 3 / SECTION-THREE / ARTICLE ----------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-light-section cmp-dark-mode-section transition-reverse-slide" aria-labelledby="article-heading">
  <div class="wrapper wrapper--narrow-m wrapper--mobile-s wrapper--tablet-l">

    <div class="about-container about-container--pg3-s3">
      <div class="about-text-container" data-animate="scale-size">
        <h2 id="article-heading" class="cmp-main-heading">Featured Article</h2>
        <p class="cmp-main-text cmp-main-text-margins">Recognized by Revista Business Portugal in the article <em>Restaurante Bueni: Da Moldávia para Portugal</em>, as part of their Algarve 360º series. It tells the story of founder Sergiu Bucsa and the journey that brought him from Moldova, through Romania and Italy, to finally settling in Lagos. It explores the experiences, values, and passion that helped shape Bueni, highlighting a commitment to quality ingredients and a dining experience built around family, tradition, and hospitality.</p>
        <p class="cmp-main-text cmp-main-text-margins"><em>"With a career marked by resilience, Sergiu Bucsa, originally from Moldova, found the ideal setting in Portugal to bring his projects to life. After the success of Latitude, he launched Bueni in Lagos, a restaurant that values local products, combines tradition with innovation, and transforms each meal into a shared experience, reflecting his own life journey."</em></p>

        <div class="about-container__btn">
          <a href="https://revistabusinessportugal.pt/restaurante-bueni-da-moldavia-para-portugal/" class="cmp-secondary-btn">Read full article</a>
        </div>
      </div>

      <div class="article-image-container">
        <img src="/assets/images/article-screenshot.png" alt="" data-animate="slide-left">
      </div>
    </div>

  </div>
</section>

{% endblock %}