---
title: 'Menu'
---

{% from "macros/menu-items.njk" import menuItems %}

{% extends "base.njk" %}

{% block content %}
<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 3 / SECTION-ONE / HERO ---------------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-light-section cmp-hero-section" aria-labelledby="menu-hero-heading">
  <div class="wrapper">
    <div class="cmp-hero-section__image cmp-hero-section__image--pg3-s1 transition-hero-shutter"></div>

    <div class="cmp-page-hero-flex">
      <div>
        <h1 id="menu-hero-heading" class="cmp-hero-heading transition-fade">Prepared expertly<span class="cmp-hero-heading-span">served simply</span></h1>
      </div>
    </div>

  </div>

  <div class="menu-scroll-start-point"></div>
</section>

<!------------------------------------------------------------------------------------------------------------>
<!--------------------------------------- PAGE 3 / SECTION-TWO / MENU ---------------------------------------->
<!------------------------------------------------------------------------------------------------------------>

<section class="cmp-light-section cmp-dark-mode-section transition-reverse-slide" aria-labelledby="starters">
  <div class="wrapper wrapper--narrow wrapper--tablet-xl">

    <div class="menu-container">
      <div class="menu-headings-container" data-animate="scale-size">
        <div class="menu-headings__inner" role="tablist">
          <button id="starters" class="cmp-micro-heading menu-is-active" aria-selected="false" data-menu="starters">Starters</button>
          <button id="mains" class="cmp-micro-heading" aria-selected="false" data-menu="mains">Mains</button>
        </div>

        <div class="menu-headings__inner" role="tablist">
          <button id="drinks" class="cmp-micro-heading" aria-selected="false" data-menu="drinks">Drinks</button>
          <button id="desserts" class="cmp-micro-heading" aria-selected="false" data-menu="desserts">Desserts</button>
        </div>
      </div>

      <div class="menu-items-container">
        <div data-menu="starters" aria-hidden="true" class="menu-items__inner menu-is-active">
          {{ menuItems(menu.starters) }}
        </div>

        <div data-menu="mains" aria-hidden="true" class="menu-items__inner">
          {{ menuItems(menu.mains) }}
        </div>

        <div data-menu="desserts" aria-hidden="true" class="menu-items__inner">
          {{ menuItems(menu.desserts) }}
        </div>

        <div data-menu="drinks" aria-hidden="true" class="menu-items__inner">
          {{ menuItems(menu.drinks) }}
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}